.active-link{
    color:red
}

.navigation{
    display: flex;
    background-color: #474341;
    

}
.nav-start{
    flex-basis: 30%;
    font-size: 25px;
    padding: 25px 0;
    color: white;
}
.nav-center{
    flex-basis: 40%;

   
}
.nav-center ul{
    display: flex;
    
}
.nav-center li{
    padding: 20px 25px;
    color: white;
}
.nav-center li:hover{
    text-decoration: underline;
}
.nav-end{
    flex-basis: 30%;
}
.nav-endsp{
    display: flex;
}
.nav-end-left{
    flex-basis: 30%;
}
.nav-end-left {
    padding-top: 10px;
    padding-left: 50px;
    
}
.nav-end-right{
    flex-basis: 35%;
    border-left:1px solid black;
    font-size: 25px;
    padding: 10px 20px;

    color: white;
}
.sm-title{
    padding: 5px;
    color: white;
}

.btn{
    background-color: #956c4d;
}

/*  */
.container-w-text{
    position: relative;
}
.text-on-img{
    font-size: 40px;
    position: absolute;
    top: 30%;
    left: 35%;
}
.sm-text-on-img{
    font-size: 25px;
    position: absolute;
    top: 42%;
    left: 45%;
}
.container-w-text img{
    width: 100%;
}

.block-w-form{
    position: absolute;
    top: 50%;
    display: flex;
    left: 45%;
}
.block-w-form form{
    display: flex;
    width: 100%;

}

.block-w-form input{
    width: 100px;
}

.block-w-form input::placeholder{
    color: White;
}

.btn-check{
    width: 100px;
}

/*  */
section{
    display: flex;
}
.left-box{
    flex-basis: 50%;
    background-color: #c5baaa;
    padding: 70px 100px;
    
}
.rigth-box{
    flex-basis: 50%;
    background-color: #806d61;
    padding: 70px 100px;
}

.icon-lg i{
    font-size: 200px;
    padding-bottom:20px ;
}

.icon-lg {
    font-size: 200px;
    padding-bottom:20px ;
}

.title-lg{
    font-size: 35px;
}

.more-btn{
    background-color: #474341;
    
}

.fuaters-top{
    font-size: 50px;
    font-weight: 600;
}
.fuaters-bttm{
    font-size: 25px;
}
/*  */
.card-image i{
    font-size: 200px;
}

.card-title{
    text-align: center ;
}

.card{
    margin-bottom: 80px;
}
.client-title{
    font-size: 30px;
}

.client-logo img{
    padding-top: 30px;
    width: 90px;
}

.review{
    position: relative;
    background-color: antiquewhite;
    box-sizing: border-box;
    
}

.review img{
    position: absolute;
    top: 70%;
    left: 70%;
}

.client-name{
    font-size: 20px;
    padding: 25px;
}

.plans-and-pricing{
    background-color: #474341;
    height: 300px;
}

.large-title{
    color: white;
    font-size:45px ;
}
.small-title{
    color: lightgrey;
    font-size: 20px;
}
.pap-btn{
    border: 0.5px solid white;
    margin-top: 25px;
    padding: 20px 0px;
    height: 75px;
    width: 180px;
   
}